<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container>
        <register type="D03_IOC_Container.Shopper, D03_IOC_Container" 
                  mapTo="D03_IOC_Container.Shopper, D03_IOC_Container"/>
        <register type="D03_IOC_Container.ICreditCard, D03_IOC_Container" 
                  mapTo="D03_IOC_Container.VisaCard, D03_IOC_Container" />
      </container>
    </containers>
  </unity>

</configuration>