body{
    text-align: center;
    background-image: url("../assets/BG.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
}

button:hover {
    opacity: 75%;
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
}

@font-face{
    font-family: BlackFont;
    src: url(../assets/seguibl.ttf);
}

#main_title {
    color: #207bff;
    text-align: center;
    font-size: 80px;
    font-family: BlackFont, serif;

    margin-top: 20px ;
}

.wrapper {
    display: inline-block;

    border-radius: 15px;
}

.menu_btn {
    width: 400px;
    height: 90px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: BlackFont, serif;
    font-size: 40px;
    margin: auto auto 40px;
    
    color: #fff;
    background-color: #00e8f2;
    
    border-radius: 5px;
    border-style: none;
    box-shadow: 5px 5px 10px rgb(68 68 68 / 30%);
}

#start_btn{
    width: 450px;
    height: 120px;
    font-size: 55px;
    background-color: #207bff;
}

#difficulty_menu{
    display: none;
    margin: auto auto 40px;
}

.difficulty_btn{
    width: 160px;
    height: 60px;

    display: inline-block;

    font-family: BlackFont, serif;
    font-size: 22px;

    color: #fff;
    background-color: #207bff;

    border-radius: 5px;
    border-style: none;
    box-shadow: 5px 5px 10px rgb(68 68 68 / 30%);

    margin: 0 5px 0 5px;
}