<div style="background-color:yellow; width:100%; height:200px">
    ******************* This is Header **********************
</div>


@RenderBody()

<div style="background-color:red; width:100%; height:200px">
    ******************* This is Footer **********************
</div>
