@page "/tracks/details/{id}"

@code {
    [Parameter]
    public string? Id { get; set; }
    public Track? Track { get; set; }

    protected override void OnInitialized()
    {
        Track = DummyDb.Tracks.FirstOrDefault(t => t.ID == Id);

        base.OnInitialized();
    }

}
@if (Track is not null)
{


    <div class="form-group-row">
        <div class="col-12 text-center">
            <p class="h4 fw-bold">Track: @Track.ID Details</p>

        </div>
    </div>

    <div class="form-group-row">
        <lable class="col-form-label">Name</lable>
        <lable class="form-control">@Track.Name</lable>
    </div>

    <div class="form-group-row">
        <lable class="col-form-label">Description</lable>
        <lable class="form-control">@Track.Description</lable>
    </div>
}