.homeh1{
    text-align: center;
    background-color: beige;
    width: 60%;
    margin: 5px auto;
}

.header{
    text-align: center;
    background-color: blue;
    color: azure;
    width: 60%;
    margin: 5px auto;
}