<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/clients">Home</a>
    <form method="post">
        <input name="CLIENTNUM" type="number" placeholder="Enter CLIENTNUM" >
        <input name="Customer_Age" type="number" placeholder="Enter Customer_Age" >
        <input name="Gender" type="text" placeholder="Enter Gender" >
        <input name="Marital_Status" type="text" placeholder="Enter Marital_Status" >
        <input name="Income_Category" type="text" placeholder="Enter Income_Category" >
        <input name="Credit_Limit" type="number" placeholder="Enter Credit_Limit" >
        <input type="submit" value="ADD">
    </form>
</body>
</html>