@using ClassLibrary;

@code {
    [Parameter]
    public List<User> Users { get; set; } = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        StateHasChanged();
    }
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var user in Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>