section{
    border-style: solid;
    border-color: black;
    height: 150px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

p{
    border-style: solid;
    border-color: orange;

    width: 75px;
    height: 50px;
}
