USE [master]
GO
/****** Object:  Database [EMPLOYEES]    Script Date: 8/4/2021 2:06:31 PM ******/
CREATE DATABASE [EMPLOYEES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employees', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Employees.mdf' , SIZE = 3840KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Employees_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Employees_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEES]
GO
/****** Object:  Table [dbo].[City]    Script Date: 8/4/2021 2:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[cID] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 8/4/2021 2:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[countryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Depts]    Script Date: 8/4/2021 2:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depts](
	[DeptID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
	[DeptDesc] [nvarchar](50) NULL,
 CONSTRAINT [PK_Depts] PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emps]    Script Date: 8/4/2021 2:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emps](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[EmpFname] [nvarchar](50) NOT NULL,
	[EmpLname] [nvarchar](50) NOT NULL,
	[EmpSalary] [float] NULL,
	[EmpHDate] [smalldatetime] NULL,
	[dID] [int] NOT NULL,
	[CtyID] [int] NULL,
 CONSTRAINT [PK_Emps] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([cID])
REFERENCES [dbo].[Country] ([countryID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Emps] FOREIGN KEY([cID])
REFERENCES [dbo].[Emps] ([EmpID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Emps]
GO
ALTER TABLE [dbo].[Emps]  WITH CHECK ADD  CONSTRAINT [FK_Emps_Depts] FOREIGN KEY([dID])
REFERENCES [dbo].[Depts] ([DeptID])
GO
ALTER TABLE [dbo].[Emps] CHECK CONSTRAINT [FK_Emps_Depts]
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 8/4/2021 2:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEmployee]
@fname nvarchar(50),
@lname nvarchar(50),
@salary float,
@city int,
@HDate datetime,
@dept int

AS
INSERT INTO Emps
(EmpFname, EmpLName, EmpSalary,ctyID,empHdate, Did)
VALUES (@fname, @lname, @salary,@city,@Hdate, @dept);
GO
USE [master]
GO
