<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: cornflowerblue">
    <h1 style="margin-left:40px; color: white">My MVC Application</h1>
    
    <div style="text-align:right">
        <button style="margin:2px; width:90px; height:50px">Home</button>
        <button style="margin:2px; width:90px; height:50px">About</button>
    </div>

    <div style="background-color:white">
        @RenderBody()
    </div>

</body>
</html>
