<!-- <h1>Welcome PD, SWA, Mobile &hearts;</h1> -->

<!-- <div style="border: 2px solid red;">
</div> -->
<!-- <app-first></app-first> -->

<!-- <app-second></app-second> -->

<!-- Day3 -->
<!-- <app-all-in-one></app-all-in-one> -->
<!-- Component Interaction -->
<!--From Parent To Child  <child [attr]="Parent"> -->
<!--From Child To Parent <child (urEvent)="Parentfun($event)" > -->
<!--
<div>
  <h1>Parent</h1>
  <p>Data: {{DataParent}}</p>
  <div>
    <app-home [DataFromParent]="DataFromLogin" [Dala3]="fName"></app-home>
  </div>
  <div>
    <app-login (EventDala3)="getData($event)"></app-login>
  </div>
  <p>Data:{{DataFromLogin}}</p>
</div> -->



<!--Explain-->
<!-- <input [value]="fName" /> -->
<!-- <input (input)="getData($event)" > -->



<!--Day4-->

<!-- Component Interaction [Life Cycle] -->
<!-- <app-registration (myEvent)="getData($event)"></app-registration> -->
<!-- <app-students [allStudents]="Students"></app-students> -->
<!-- <app-students [student]="oneStudent"></app-students> -->

<!-- Validation [Reactive Forms Module] -->
<!-- <app-validation></app-validation> -->


<!-- Routing -->
<app-header></app-header>
<div class="alert alert-dark w-75 m-auto">
  <router-outlet></router-outlet>
</div>
